<!DOCTYPE html>
<html>
<head>
    <title>Food Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Food Service</h1>

        <label for="mealTime">Meal Time:</label> <select id="mealTime">
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
        </select>

        <label for="participantId">Participant ID (Last 4 Digits):</label> <input type="text" id="participantId" placeholder="Last 4 Digits of ID card" maxlength="4" pattern="[0-9]{4}">
        <button id="checkButton">Check</button>

        <div id="result"></div>
        <div id="error"></div>

        <h2>Meal Counts</h2>
        <div id="mealCounts"></div>

        <h2>Remaining Participants</h2>
        <label for="remainingMealTime">Meal Time:</label><select id="remainingMealTime">
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
        </select>
        <button id="remainingParticipantsButton">Show Remaining Participants</button>
        <ul id="remainingParticipantsList"></ul>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>